.bodyMain
{
	background:#3b718a;
}
.inputField
{
	height: 100%;
	width:100%;
	background-color:#d8a2a2;
	overflow-x: auto;
	overflow-y: auto;
}

.buttonClose
{
	margin-top: 2px;
	margin-right: 2px;
	height: 26px;
	margin-right: 2px;
	float: right;
	background: url(../img/favicon.ico) no-repeat;
}

.divMain
{
	background-color: rgb(247, 140, 0);
	width: 300px;
	height: 300px;
	border: solid;
	border-width: 1px;
	resize: both;
	overflow: hidden;
}

.divPanel
{
	background-color: antiquewhite;
	height: 30px;
}